
# S3 Sink Configuration

The complete S3 sink configuration file

#foreach ($section in $sections)
    ${esc.hash}${esc.hash} ${section.displayName} #if (${section.displayName} != ${section.name}) (${section.name}) #end
- Group: ${section.group|"--none--"}
- Default value: ${section.getDefaultValue()|"--none--"}
- Type:  $section.type
- Valid values:  ${section.validator|"--no restrictions--"}
- Importance: $section.importance

    ${esc.markdown($section.documentation)}
#end