S3SourceConfigDef:
#foreach ($section in $sections)
-
  name: ${section.displayName}
  documentation:  $section.documentation
  type:  $section.type
  default: ${section.getDefaultValue()|"none"}
  validValues: ${section.validator|"no restrictions"}
  importance: $section.importance
#end